:root {
    --background-color: #ECE9EC;
    --box-color: #DCDCE1;
}

#content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 5rem auto;
    min-height: 100vh;
}


#box-projects {
    background-color: var(--box-color);
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

#box-about {
    background-color: var(--box-color);
    grid-column: 4 / 8;
    grid-row: 1 / 6;
}

#box-lastfm {
    background-color: var(--box-color);
    grid-column: 1 / 4;
    grid-row: 6 / 8;
}

#box-links {
    background-color: var(--box-color);
    grid-column: 4 / 8;
    grid-row: 6 / 8;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

/* Add some basic reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background-color: var(--background-color);
}